In [ ]:
from bs4 import BeautifulSoup
import requests as rq
import pandas as pd
url=('https://www.forbesindia.com/article/explainers/top-10-richest-people-india/85909/1')
req=rq.get(url)
#using beautifulsoup(),access the html code
page=BeautifulSoup(req.text,'html')
print(page)

In [ ]:
t=page.find('table')
print(t)

In [ ]:
h=t.find_all('th')
print(h)
head=[i.text for i in h ]

[<th style="border: 1px solid black; padding: 8px;"><strong>Name &amp; India Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Global Rank</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Net worth (US$)</strong></th>, <th style="border: 1px solid black; padding: 8px;"><strong>Company</strong></th>]

In [ ]:
import pandas as pd
df=pd.DataFrame(columns=head)
print(df)

Empty DataFrame
Columns: [([Name & India Rank], [Global Rank], [Net worth (US$)], [Company])]
Index: []

In [ ]:
new=[i.text for i in h]
print(new)

['Name & India Rank', 'Global Rank', 'Net worth (US$)', 'Company']

In [ ]:
r=t.find_all('tr')
print(r)

In [ ]:

for i in r[1:9]:
  er=i.find_all('td')
  eachrow=[i.text for i in er]
  print(eachrow)

['#1 Mukesh Ambani ', '11', '$113.0 B', 'Reliance Industries']
['#2 Gautam Adani ', '16', '$81.2 B', 'Adani Group']
['#3 Shiv Nadar ', '37', '$37.1 B', 'HCL Technologies\xa0\xa0 ']
['#4 Savitri Jindal & family ', '58', '$28.9 B', 'JSW Group']
['#5 Cyrus Poonawalla ', '68', '$25.6 B', 'Serum Institute of India']
['#6 Dilip Shanghvi ', '69', '$25.5 B', 'Sun Pharmaceutical Industries Ltd']
['#7 Kumar Birla ', '97', '$18.9 B', 'Aditya Birla Group']
['#8 Kushal Pal Singh', '98', '$18.9 B', 'DLF Limited']

In [ ]:
df=pd.DataFrame(columns=new)

In [ ]:
a=0
for i in r[1:9]:
  er=i.find_all('td')
  eachrow=[i.text for i in er]
  df.loc[a]=eachrow
  a=a+1
df

,Name & India Rank,Global Rank,Net worth (US$),Company
0,#1 Mukesh Ambani,11,$113.0 B,Reliance Industries
1,#2 Gautam Adani,16,$81.2 B,Adani Group
2,#3 Shiv Nadar,37,$37.1 B,HCL Technologies
3,#4 Savitri Jindal & family,58,$28.9 B,JSW Group
4,#5 Cyrus Poonawalla,68,$25.6 B,Serum Institute of India
5,#6 Dilip Shanghvi,69,$25.5 B,Sun Pharmaceutical Industries Ltd
6,#7 Kumar Birla,97,$18.9 B,Aditya Birla Group
7,#8 Kushal Pal Singh,98,$18.9 B,DLF Limited

In [ ]:
df.to_csv("sai.txt")