PLOTING

In [ ]:
a=5
print(a)

In [ ]:
import matplotlib.pyplot as plt

In [ ]:
A=[23,45,67,89,10] #corona cases in first five days
B=[1,2,3,4,5]
plt.plot(B,A,linestyle=":") #plot(x,y)
plt.show()

In [ ]:
#programme1
#runs scored by 10 players[100,50,91,78,89,25,34,19,9,10] wickets taken by same 10 new players[1,0,2,0,3,7,8,9,7,5] from clusters for batsman and bowlers
runs=[100,50,91,78,89,25,34,19,9,10]
wickets=[1,0,2,0,3,7,8,9,7,5]
plt.scatter(runs,wickets,color="blue")
plt.show

In [ ]:
#show the scores of 2 students in 5 different subjects subjects as x axis marks as y axis
s1=[85,66,45,78,99]
s2=[65,78,99,46,23]
sub=["tel","eng","math0","soc","phy"]
plt.plot(sub,s1,label="student1",color='g')
plt.plot(sub,s2,label="student2",color='yellow')
plt.legend()
plt.title("mallya")

In [ ]:
s1=[85,66,45,78,99]
s2=[65,78,99,46,23]
sub=["tel","eng","math0","soc","phy"]
plt.subplot(2,1,1)
plt.plot(sub,s1,label="s1",color="b")
plt.subplot(2,1,2)
plt.plot(sub,s2,label="s2",color="k")
plt.legend()

In [ ]:
#create subplots(bar) showing the profits of two companies
#given revenue of company a and b in lakhs
import numpy as np
a=np.array([230,560,780,127,128])
b=np.array([200,160,270,127,400])
a1=np.diff(a)
b1=np.diff(b)
print("revenues of company a are",a)
print("revenues of company b are",b)
print("profits of company a are",a1)
print("profits of company a are",b1)
years=["2019-2020","2020-2021","2021-2022","2022-2023"]
plt.subplot(1,2,1)
plt.bar(years,a1,label="a1",color='k')
plt.legend(loc="best")
plt.subplot(1,2,2)
plt.bar(years,b1,label="b1",color='g')
plt.legend(loc="best")

In [ ]:
a=np.array([25,60,99,45])
labe=["aiml","python","pandas","numpy"]
plt.pie(a,labels= labe)
plt.show()

In [ ]:
a = np.array([25,60,5,10])
labe = ["aiml","python","pandas","numpy"]
explo = [0.99,0,0,0]
plt.pie(a,labels = labe,explode = explo,startangle =45)
plt.show()